@charset "EUC-KR";


.float li{
	float:left; margin-right: 30px;
}

* {
		font-family: 'Gothic A1', sans-serif;
	}
	
	#grid {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
	
	
	
	.grid1, .grid2, .grid3, .grid4, .grid5, .grid6 {
		grid-template-rows: 150px 1fr;
		padding-left: 5px;
		padding-top: 10px;
		padding-right: 100px;
		width: 200px;
		margin-top: 40px;
		margin-bottom: 100px"
	
	}
	
	
	h6 {
		text-align: left;
		margin: 0;
		padding: 0;
	}
	
	h3 {
		margin: 10px;
		padding: 0;
	}
	
	ol, ul {
		list-style: none;
	}
	
	a, abbr, acronym, address, applet, b, big, blockquote, body, button,
		caption, center, cite, code, dd, del, dfn, div, dl, dt, em, fieldset,
		font, footer, form, header, html, i, iframe,
		img, ins, kbd, label, legend, li, nav, object, ol, p, pre, q, s, samp,
		section, small, span, strike, strong, sub, sup, table, tbody, td, tfoot,
		th, thead, title, tr, tt, u, ul, var {
		margin: 0;
		padding: 0;
		border: 0;
		outline: 0;
		vertical-align: baseline;
		background: transparent;
		
	}
